.tosts {
	padding-top: 150px;
	padding-bottom: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	// .tosts__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
		gap: 32px;
	}
}
.tost {
	position: relative;
	max-width: 484px;
	background: #fafafa;
	border: 2px solid $bg-04;
	box-sizing: border-box;
	box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	padding: 22px 38px 22px 22px;
	// .tost_success
	&_success {
		border: 2px solid #ff9900;
	}
	// .tost_fail
	&_fail {
		border: 2px solid #d80000;
	}
	// .tost_warn
	&_warn {
		border: 2px solid #ff9900;
	}
	// .tost_info
	&_info {
		border: 2px solid #009ed0;
	}
	// .tost__body
	&__body {
		display: grid;
		gap: 16px;
	}
	// .tost__close
	&__close {
		position: absolute;
		right: 12.5px;
		top: 12.5px;
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			width: 16px;
			height: 16px;
			font-size: 16px;
			color: $default-icon;
			font-weight: 600;
			transition: color 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					font-size: 16px;
					color: $secondary;
					font-weight: 600;
				}
			}
		}
	}
	// .tost__header
	&__header {
		display: flex;
		align-items: center;
		padding-right: 15px;
	}
	// .tost__icon
	&__icon {
		flex: 0 0 32px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
		}
	}
	// .tost__label
	&__label {
		flex: 1 1 auto;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $dark-blue;
		padding: 0px 0px 0px 8px;
	}
	// .tost__text
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: math.div(22px, 14px) * 100%;
	}
	&__link{
		justify-self: center;
	}
	@media (max-width: $md3+px) {
		padding: 14px;
		// .tost__body
		&__body {
			gap: 8px;
		}
		// .tost__close
		&__close {
			right: 6.5px;
			top: 6.5px;
		}
		// .tost__label
		&__label {
			font-size: 14px;
		}
		// .tost__icon
		&__icon {
			flex: 0 0 24px;
			width: 24px;
			height: 24px;
		}
		// .tost__text
		&__text {
			font-size: 12px;
			line-height: math.div(19px, 12px) * 100%;
		}
	}
}
